.tab-list-item {
  color: black;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 25px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.active-tab {
  color: #e0461b;
  border-bottom: 3px solid #e0461b;
}

@media (max-width: 765px) {
  .tab-list-item {
    font-size: 13px;
    padding: 10px;
    padding-bottom: 20px;
  }
}
